

.customer{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 2rem;
}

.customer-description{
    margin: 1rem 0 0 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    top: 10%;
    height: 80%;
    border-radius: 0.2rem;
    box-shadow: 0 1px 5px rgb(209, 203, 203);
    padding: 1rem;

}

.customer-image{
    background: blueviolet;
    left: 50%;
    position: relative;
    transform: translate(-50%,0%);
    height:200px;
    margin-top: 2rem;
    overflow: hidden;
    box-shadow: 0 7px 15px rgb(255, 208, 0);

}

.customer-main{
    display: grid;
    grid-template-columns: 20% 75%;
}

.sidebar{
    background: rgb(194, 217, 224);
    margin: 1rem 1rem 0 1rem;
    box-shadow: 0px 1px 5px rgb(117, 114, 114);
}

