



.fastfood-css{
    margin: 5.5rem 2rem 0.4rem 2rem;
}

.fastfood-css h2{
    text-align: left;
    font-family: Abel;

}
.fastfood{
    margin-top: -2rem;
}

.fastfood-search{
    position: relative;
    transform: scale(0.8);

    }

.fastfood-search-box{
    position: relative;
    text-align: center;
    left: 45%;
    transform: translate(-50%);
}

.fastfood-search-box input{
    padding: 0.8rem 4rem;
    border-radius:0.4rem ;
    border:1px solid black;
    outline: none;
    font-size: 1.1rem;
    color: black;
    font-family: Lexend;
    margin:0 0.3rem ;
}

.fastfood-search-box .btn{
    width: 130px;
}
