




.fastfood-search{
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.fastfood-search-box{
  background: rgb(18, 78, 199);
  width: 100%;
  padding: 0.2rem;
  height: 40px;
  position: relative;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.fastfood-search-box .searchinput{
  padding:0.5rem 1rem;
  width: 100%;
  display: flex;
  }



.fastfood-search-box .searchbtn{
  padding: 0.4rem 0.6rem;
  background: rgb(18, 78, 199);
  border: transparent;
}
  

.fastfood-search-box .searchbtn i{
  color: white;
}




















.hotel2-container{
  padding: 1rem;
}

.resturant{
  margin: -2rem 0 0rem 0;
  text-align: center;
}

.med-card-body h4,h5{
  text-align: center;

}
.med-card-body h5{
  font-size: 14.5px;
}

.med-card{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.med-card .med-card-body{
  display: grid;
  grid-template-columns: 78% 22%;
  box-shadow: 0px 2px 5px rgb(255, 0, 0);
  padding: 0.5rem;
  margin:1.5rem  0.4rem;
}

.med-card-photo .med-image{
  min-height: 140px;
  max-height: 140px;
}

.med-card-photo .med-image img{
  min-height: 125px;
  max-height: 135px;
  border: 1px solid rgb(201, 193, 193);
}

.med-short-info{
  margin: 0.2rem;
}

.abel{
  font-family:Abel;
}
.bold{
  font-weight: bold;
}
.med-btn{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: transparent;
  outline: none;
  border: 1px solid black;
}

.med-btn:hover{
  background: rgb(197, 193, 193);
}

.med-card-star{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 1rem;

}

.med-card-star i{
  font-size: 0.8rem;
}

.med-card-love{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 1rem;
}

.med-card-option{
  margin:5.5rem 0 0 1rem ;
}

.fa-heart{
  color: red;
}
.fa-star{
  color: rgb(255, 153, 0);
}

@media only screen and (max-width:1200px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(4,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  0.9rem;
  }
}


@media only screen and (max-width:1090px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(4,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  0.4rem;
  }
}


@media only screen and (max-width:990px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(4,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  0.2rem;
  }
}


@media only screen and (max-width:970px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(3,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  5%;
  }
}


@media only screen and (max-width:840px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(3,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  2%;
  }
}



@media only screen and (max-width:750px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  10%;
  }
}


@media only screen and (max-width:700px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  5%;
  }
}



@media only screen and (max-width:550px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  2%;
  }
}


@media only screen and (max-width:530px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  1%;
    transform: scale(0.9);
  }
  .med-short-info{
    margin: 0.1rem;
  }
}


@media only screen and (max-width:500px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:1.5rem  0;
    transform: scale(0.9);
  }
  
}



@media only screen and (max-width:470px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:0rem  -7%;
    transform: scale(0.8);
  }
}


@media only screen and (max-width:436px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:0rem  -10%;
    transform: scale(0.8);
  }
  .med-short-info{
    margin: 0.1rem;
  }
}


@media only screen and (max-width:420px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:-1rem  -16%;
    transform: scale(0.7);
  }
  .med-short-info{
    margin: 0rem;
    padding: 0;
  }
}

@media only screen and (max-width:390px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:-1.5rem  -25%;
    transform: scale(0.6);
  }
  .med-short-info{
    margin: 0rem;
    padding: 0;
  }
}


@media only screen and (max-width:360px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(2,1fr);
  }
  .med-card .med-card-body{
    margin:-2.5rem  -35%;
    transform: scale(0.5);
  }
  .med-short-info{
    margin: 0rem;
    padding: 0;
  }
}


@media only screen and (max-width:320px){
  body{
    background: rgb(230, 240, 230);
  }
  .med-card{
    grid-template-columns:repeat(1,1fr);
  }

}

