

 .hotels-grid{
     display: grid;
     grid-template-columns: 50% 50%;
 }

 .hotels{
     margin: 1rem;
 }

 .hotels table{
    border-collapse: collapse;
    box-shadow: 0px 1px 5px rgb(66, 65, 65);
    border:2px solid white;

    }

 .hotels table .hotel_image{
    width: 150px;
    height: 120px;
 }

 .hotels table tr td h2{
     text-align: left;
     margin: 0;
     line-height: 40px;
     margin: -1rem  0 0 0;
     padding: 0;
   }

 .hotels table tr .btn{
   line-height: 14px;
   margin: 0;
 }

.hotels-title{
    display: grid;
    grid-template-columns: 70% 30%;
}